$font-size-13:13px;
$font-size-12:12px;

$themeColor:#56CD74;
$dangerColor: #F72E62;
$dangerColor-opacity1:rgba(247,46,98,0.10);
$themeColor-opacity5:rgba(86,205,116,0.50);
$themeColor-opacity6:rgba(86,205,116,0.60);
$themeColor-opacity2:rgba(86,205,116,0.20);
$themeColor-opacity1:rgba(86,205,116,0.10);

$color-white-text:#FFFFFF;
$color-white-background:#FFFFFF;
$color-red-text:$dangerColor;
$color-red-background:$dangerColor;
$color-theme-text:$themeColor;
$color-theme-background:$themeColor;
$color-theme-hover-background:#52c16e;
$button-disabled-color:#CCCCCC;
$button-icon-default-width: 28px;
$button-icon-reset:1;
$button-icon-default-padding:0px;
$button-icon-small-width: $button-icon-default-width;

$icon-default-size: 20px;

$message-box-paddingTop:9px;
$message-box-paddingLeft:15px;

$table-cell--font:$font-size-12;
$table-cell--padding:6px;
$table-cell--fontColor:#333333;
$table-cell-hover:#56CD74;

$el-input-height: 30px;









